html *
{
	font-size: 1em;
	color: #000;
	font-family: 'Raleway', Helvetica, Arial, sans-serif !important;
}
body { 
	margin:0;
	padding:0;
	width:100%;
	height: 100%;
	overflow: hidden;
}
#map {position:absolute;
	top:0;
	bottom:0;
	width:100%;
}
#layerOptions {position: absolute;
	top:10px;
	left:50px;
	background:rgba(25,59,104,0.75);
	padding:15px;
	border-radius: 5px;
	transition: all 0.7s ease-in-out;
	-moz-transition: all 0.7s ease-in-out;
	-webkit-transition: all 0.7s ease-in-out;
	-o-transition: all 0.7s ease-in-out;
}
#layerOptions:hover {
	background:rgba(25,59,104,1)
}
#keyContainer{
	position: absolute;
	bottom:30px;
	left:30px;
}
.dataKey {
	float:left;
	background:rgba(255,0,0,0.75);
	padding:15px; border-radius: 5px;
	bottom: 0;
	transition: all 0.7s ease-in-out;
	-moz-transition: all 0.7s ease-in-out;
	-webkit-transition: all 0.7s ease-in-out;
	-o-transition: all 0.7s ease-in-out;
}
#infoBox {position: absolute;
	bottom:30px;
	right:30px;
	background:rgba(25,59,104,0.75);
	max-height:400px;
	width: 400px;
	overflow: hidden; 
	padding:15px;
	border-radius: 2px;
	transition: all 0.7s ease-in-out;
	-moz-transition: all 0.7s ease-in-out;
	-webkit-transition: all 0.7s ease-in-out;
	-o-transition: all 0.7s ease-in-out;
}	

#infoPanel:hover {
	background:rgba(255,255,255,1);
	color: white;
}
#infoPanel h3,#infoPanel span, .dataKey h3, .dataKey span, #layerOptions:hover h1 {
	color: black;
	transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	-webkit-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
}
#infoPanel:hover h3, #infoPanel:hover span {
	color: rgb(25,59,104);
}

.dataKey:hover h3, .dataKey:hover span, #layerOptions:hover h1 {
	color: rgb(255,255,255);
}

#infoPanel {
  width: 400px;
  height: 100%;
  bottom: 0px;
  right:-400px;
  position: absolute;
  background:rgba(25,59,104,0.75);

  border-radius: 5px;
	transition: all 0.7s ease-in-out;
	-moz-transition: all 0.7s ease-in-out;
	-webkit-transition: all 0.7s ease-in-out;
	-o-transition: all 0.7s ease-in-out;
}
#closeInfoPanelButton {position: relative;
  top:5px;
  left:5px;
  background:rgba(255,255,255,1);
  padding:3px;
  border-radius: 5px;
}
#infoMainContainer {
  padding:15px;
  height: 100%;
}

#elementInfoContainer{
	overflow-y: hidden;
	overflow-x: hidden;
	width: 100%;
	max-height: 75%;
}
#elementInfoContainer:hover {
	overflow-y: auto;
}


.dataKey:hover {
	background:rgba(255,0,0,1)
}
.dataKey:empty, #infoBox:empty, #surveyKey:empty {
	display: none;
}
.tripInfoThumbnail {
	max-height:370px;
	max-width:80%;
	border-color: white;
	border-width: 15px;
	border-style: solid;
	transition: all 0.7s ease-in-out;
	-moz-transition: all 0.7s ease-in-out;
	-webkit-transition: all 0.7s ease-in-out;
	-o-transition: all 0.7s ease-in-out;
}
#infoPanel:hover .tripInfoThumbnail{
	border-color:rgb(25,59,104);
}
.marker_info_container{
	height: 100%;
}
.tripInfoThumbnailContainer {
	max-height:400px;
	text-align: left;
}
.keyText {
	margin: 5px;
}
.keyColor {
	border-color: white;
	border-width: 2px;
	border-style: solid;
}
.keyIcon{
	width: 20px;
	height: 20px;
}
.questionSelector {
	width: 170px;
}